In [35]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import VotingClassifier
from sklearn.pipeline import Pipeline

In [36]:
hr = pd.read_csv("C:\Aalesh and Mandar\Datasets\Cases\human-resources-analytics\HR.csv")

In [37]:
hr.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [38]:
hr = pd.get_dummies(hr, drop_first = True)

In [39]:
x = hr.drop("left", axis=1)
y = hr["left"]

In [40]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 2022, test_size = 0.3)

In [41]:
scaler = StandardScaler()

dtc = DecisionTreeClassifier(random_state = 2022)
lda = LinearDiscriminantAnalysis()
svm = SVC(kernel="linear", probability = True,  random_state = 2022)
pipe_svm = Pipeline([("STD", scaler),("SVM",svm)])

In [42]:
voting = VotingClassifier([("Tree", dtc),("SVM_P",pipe_svm),("LDA",lda)], voting ="soft", weights = [5,6,3])

In [43]:
dtc.fit(x_train, y_train)
y_pred = dtc.predict(x_test)
y_pred_prob = dtc.predict_proba(x_test)[:,1]
print(accuracy_score(y_test, y_pred))
print(roc_auc_score(y_test, y_pred_prob))

0.9802222222222222
0.9756764552229787

In [44]:
lda.fit(x_train, y_train)
y_pred = lda.predict(x_test)
y_pred_prob = lda.predict_proba(x_test)[:,1]
print(accuracy_score(y_test, y_pred))
print(roc_auc_score(y_test, y_pred_prob))

0.7677777777777778
0.8197875851320746

In [45]:
svm.fit(x_train, y_train)
y_pred = svm.predict(x_test)
y_pred_prob = svm.predict_proba(x_test)[:,1]
print(accuracy_score(y_test, y_pred))
print(roc_auc_score(y_test, y_pred_prob))

0.7757777777777778
0.8119786602443071

In [46]:
voting.fit(x_train, y_train)
y_pred = voting.predict(x_test)
y_pred_prob = voting.predict_proba(x_test)[:,1]
print(accuracy_score(y_test, y_pred))
print(roc_auc_score(y_test, y_pred_prob))

0.932
0.97999085833635